*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    background-color: #2E7D32;
    color: white;
}

.logo img{
    width: 72px;
    height: auto;
}

.menu a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

.texto-inicial{
    text-align:center;
    margin: 40px 0;
    background-color:#e0df70;
    padding: 100px;
    margin-top: 10px;
    color:#2E7D32;
}

.texto-regiao{
    text-align:center;
    font-size:40px;
    color:#377be0;
    margin-bottom:40px;
}



.container-cards-regiao{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 20px;
    background-color:#377be0;
}

.card-regiao{
    width:320px;
    background:#fff;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 8px 20px rgba(0,0,0,.15);
    
    transition:.3s;
}

.card-regiao:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 35px rgba(0,0,0,.25);
}

.card-regiao img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.conteudo{
    padding:20px;
}

.conteudo h2{
    margin-bottom:15px;
    color:#1b5e20;
}

.conteudo p{
    color:#555;
    line-height:1.6;
    margin-bottom:15px;
}

.conteudo span{
    display:block;
    margin-bottom:20px;
    font-weight:bold;
    color:#2e7d32;
}

.conteudo button{
    width:100%;
    padding:14px;

    border:none;
    border-radius:12px;

    background:#e0df70;
    color:#1b5e20;

    font-size:16px;
    cursor:pointer;

    transition:.3s;
}

.conteudo button:hover{
    background:#1b5e20;
}

.por-que-conhecer{
    width:90%;
    margin: auto;
    padding:30px 0;
    background-color:#49aa3c;
    border-radius:15px;
    text-align:center;
    color:white;
    
}

footer.rodape-inicial{
    background-color:#e0df70;
    color:#1b5e20;
    text-align:center;
    padding:20px 0;
    margin-top:40px;
}

.estados{
    width: 90%;
    margin: auto;
    padding: 40px 0;
    background-color: #377be0;
}

.estados h2{
    text-align:center;
    font-size:40px;
    color:#fff;
    margin-bottom:40px;
}

.container-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card-estado{
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,.15);
    transition: .3s;
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 280px;

}

.card-estado:hover{
    transform:translateY(-8px);
}

.card-estado img{
    width:100%;
    height:150px;
    object-fit:cover;
}

.conteudo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding: 20px
}

.conteudo h3{
    color:#2E7D32;
    margin-bottom:15px;
}

.conteudo p{
    margin:8px 0;
    color:#555;
}

.card-estado button{
    margin-top:20px;
    width:100%;
    padding:12px;
    border:none;
    border-radius:8px;
    background:#2E7D32;
    color:white;
    cursor:pointer;
    transition:.3s;
}

.card-estado button:hover{
    background:#1B5E20;
}

.estados h3 {
    text-align: center;
}

.banner-sobre {
    text-align: center;
    padding: auto;
    margin: 20px;
}

.banner-sobre p {
    margin-top: 20px;
}

.sobre-blog {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    background-color: #f5d755;
}

.imagem-sobre{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.imagem-sobre img{
    width: 400px;
    height: auto;
    max-width: 100%;
}

.texto-sobre {
    display: flex;
    flex-direction: column;
    color: aliceblue;
    flex: 1;
}

.sobre-h2 {
    margin-left: 70px;
    margin-bottom: 25px;
    color: #377be0;
    font-size: 36px;
}

.sobre-p {
    color: #1b5e20;
    margin-bottom: 20px;
    line-height: 1.8;
    font-size: 18px;
    margin-left: 50px;
}

.missao {
    padding: 20px;
    background-color: #377be0;
    color: aliceblue;
    text-align: center;
}

.missao h2 {
    color: aliceblue;
}

.sobre-missao-p {
    margin-top: 10px;
    font-size: 24px;
}

.conteudo-sobre h2 {
    text-align: center;
    color: #1B5E20;
    margin-top: 10px;
    margin: 30px

}

.cards-sobre {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background: #1B5E20;
    border-radius: 15px;
    overflow: fill;
    box-shadow: 0 10px 10px rgba(0,0,0,.15);
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 280px;
    text-align: center;
    color: white;
    
}

.card h3 {

    margin-top: 40px;
}

.card p {
    margin-top: 30px;
}

footer {
    background-color: #f5d755;
    text-align: center;
    color: #2365c9;
    margin-top: 20px;
    padding: 20px;
}

footer h2 {
    font-size: 1.2rem;
    color: #2365c9;
    text-align: center;
    margin-top: 20px;

}

.contato h2 {
    text-align: center;
    color:#377be0;
    padding: 15px;
}

input[type="text"], input[type="email"] {
    width: 100%;
    padding: 0.6rem;
    border: 2px solid #2365c9;
    border-radius: 5px;
    outline: none;
}

fieldset {
    border: 2px solid #2365c9;
    border-radius: 5px;
    padding: 1rem;
    color: #1B5E20;
    font-size: 18px;
}

legend {
    padding: 0 0.5rem;
    color: #f5d755;
}

textarea {
    border: 2px solid #2365c9;
    border-radius: 5px;
    outline: none;
}

button {
    background-color: #f5d755;
    color: #1B5E20;
    border: none;
    padding: 0.8rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0.2rem;
}